<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="pos" data-v-b4324800="" style="display: inline-block; white-space: pre-line; position: relative;">
    {$logo} 嘉潮汇智能售货机 \n
    ------------------------------ \n
    设备名称：{$machine_name} \n
    打印时间：{$print_time} \n
    ------------------------------ \n
    商品 \t       数量 \t 单价
    {volist name="detailsList" id="details" }
    {$details.g_name}\t {$details.quantity}\t    {$details.retail_price}
    {/volist} \n
    ------------------------------\n
    总数量：{$total_quantity}\n
    优惠：{$discount_price}\n
    实收：{$total_price}\n
    ------------------------------\n
    欢迎光临，谢谢惠顾\n
    <img src="{$receipt_code1}" width="90%">\n
    客服二维码\n
    <img src="{$receipt_code2}" width="90%">\n
    公众号二维码\n
    客服电话：{$service_tel}\n
</div>
</body>
</html>