<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="pos" data-v-b4324800="" style="display: inline-block; white-space: pre-line; position: relative;">
    商户名:中山市东日汽车销售服务有限公司
    商户号:660603055110YN7
    终端号:13273409	操作员:01
    发卡机构:14526500
    收单机构:48210001
    卡号:621457******8681 C
    卡片序列号:001
    交易类型:消费
    有效期:		  批次号:000001
    凭证号:000399  授权码:
    参考号:126073759529
    日期时间:{$create_date}
    金额:RMB {$total_price}
    ------------------------------
    交易单号:{$trade_no}
    ------------------------------

    备注:
    订单号:SJ000011202401181411213914A8
    UNUM:8DC893D6    TermCap:E0E9C8
    CSN:001        CVM:000000
    TVR:0000000000   TSI:0000
    ATC:0044        AIP:7C00
    ARQC:10A10105E6EC5B8A
    AID:A000000333010101
    APPLAB:PBOC DEBIT
    APPNAME:PBOC DEBIT
    ------------------------------
    [10][11]持卡人签名:
    本人确认以上交易，同意将其记入本账户
    [11][12]持卡人签名:
    本人确认以上交易，同意将其记入本账户
    [12][13]持卡人签名:
    本人确认以上交易，同意将其记入本账户
    [13]
    {notempty name="$receipt_code1"}<img src="{$receipt_code1}" alt="" data-v-b4324800="" style="position: absolute; width: 50%; right: 2%; bottom: 18%;">{/notempty}
    {notempty name="$receipt_code1"}<img src="{$receipt_code2}" alt="" data-v-b4324800="" style="position: absolute; width: 50%; right: 2%; bottom: 18%;">{/notempty}
    {notempty name="$receipt_code1"}<img src="{$receipt_code3}" alt="" data-v-b4324800="" style="position: absolute; width: 50%; right: 2%; bottom: 18%;">{/notempty}
</div>
</body>
</html>